input {
  border: 0;
  outline: none;
  border-radius: 4px;
  font-size: 18px !important;
  padding: 5px 10px;
}

button {
  border: 0;
  padding: 10px 20px;
  border-radius: 8px !important;
  background-color: #de7449;
  color: #fff;
  width: 100%;
}
